body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f4f3;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  margin-bottom: 50px;
}

.card {
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  width: 530px;
  box-shadow: 2px 2px rgba(44, 95, 79, 0.15);
}

h2 {
  color: #2c3e3a;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #d1ddd9;
  background-color: white;
  color: #2c3e3a;
}

input:focus {
  background-color: #2c5f4f;
  color: white;
}

input:focus::placeholder {
  color: white;
}

.input-align > * {
  flex: 1;
}

button {
  background-color: #2c5f4f;
  color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  width: 30%;
  height: 40px;
  align-self: center;
}

button:hover {
  background-color: #1e4538;
}

.input-align {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dropdown {
  height: 38px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #d1ddd9;
  background-color: white;
  color: #2c3e3a;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #2c5f4f;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

ul li {
  float: right;
}

ul li.logo {
  float: left;
}

ul li.logo img {
  height: 40px;
  width: auto;
  display: block;
}

ul li a {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  width: 100px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #1e4538;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.foot {
  background-color: #2c5f4f;
  color: #ffffff;
  padding: 20px 0 20px 0;
  font-size: 12px;
  margin-top: 50px;
  text-align: center;
}